    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Inter", sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1d1d1d;
      overflow: hidden;
      background: radial-gradient(circle, rgb(15 157 78) 0%, rgb(2 83 40) 100%);
    }

    .background-glow {
      position: absolute;
      width: 400px;
      height: 400px;
    }

    .login-box {
      position: relative;
      z-index: 1;
      border-radius: 16px;
      width: 380px;
      padding: 45px 40px;
      background: #f5f5f5;
      text-align: center;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
      transition: all 0.4s ease;
    }

    .login-box:hover {
      border: 1px solid rgb(255, 255, 255);
      box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.15);
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      color: #45A1ED;
      background-image: linear-gradient(90deg, rgb(0 222 105) 0%, rgba(0, 133, 82, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }

    #sub-title {
      font-size: 0.95rem;
      color: #aaa;
      margin-bottom: 35px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }

    label {
      text-align: left;
      font-size: 0.85rem;
      color: #a3a3a3;
      margin-bottom: 5px;
      display: block;
    }

    .input-box {
      width: 100%;
      padding: 12px 14px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      background: rgb(215 215 215 / 8%);
      color: #1b1b1b;
      font-size: 0.95rem;
      outline: none;
      transition: 0.3s ease;
    }

    button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      background-image: linear-gradient(90deg, rgb(0 222 105) 0%, rgba(0, 133, 82, 1) 100%);
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      letter-spacing: 0.5px;
      transition: 0.3s ease;
    }

    button:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
      transform: translateY(-2px);
    }

    button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      transform: none;
    }

    .footer {
      margin-top: 30px;
      font-size: 0.8rem;
      color: #777;
    }

    #message {
      font-size: 0.9rem;
      margin-top: 10px;
      display: none;
    }

    #message.error {
      color: #dc3545;
      display: block;
    }

    #message.success {
      color: #10a37f;
      display: block;
    }